<!-- <div class="container-fluid">
     bottom elements
   <div class="flex w-full items-center justify-between">
    <div class="flex items-center space-x-2 ml-20">
      <img src="{{ ASSETS_ROOT }}/icons/location.svg" alt="">
      <h6>{{user.profile.address}}</h6>
    </div>
    <div class="mr-20 space-x-4">
      <a href="#">Contact us</a>
      <a href="#">Privacy policy</a>
    </div>
  </div>
</div> -->


<!-- bottom elements -->
<div class="lg:flex w-full items-center justify-between absolute bottom-4 hidden  ">
  <div class="flex items-center space-x-2 ml-4 sm:ml-20">
    <img src="{{ ASSETS_ROOT }}/icons/location.svg" alt="">
    <!-- <p>Toronto, Canada</p> -->
    <h6>{{user.profile.address}}</h6>
  </div>
  <div class="mr-6 sm:mr-20 hidden xs:block space-x-4">
    <a href="#">Contact us</a>
    <a href="#">Privacy policy</a>
  </div>
</div>
