<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Offend Men</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- CSS Files for chat-->
  <link href="{{ ASSETS_ROOT }}/css/chat.css" rel="stylesheet" />

 

</head>
<body>
 

<div id="root"></div>
<script src="{{ ASSETS_ROOT }}/js/chat.js"></script>

</body>
</html>







<!-- index.html -->
{%if all_posts %}
{% for ps in all_posts %}
<div class="bg-white p-5 rounded-lg shadow-3xl relative">
  <!-- comments -->
  <div class="header flex justify-between mb-4">
    <div class="flex items-center justify-center space-x-2">
      <a  href="{% url 'userprofile' id=ps.user_id %}"><img class="cursor-pointer" src="media/{{ps.user_image}}" alt=""></a>
      <div>
        <a class="text-base font-bold cursor-pointer "  href="{% url 'userprofile' id=ps.user_id %}">JordanVanga</a>
      
        <div class="flex space-x-3 opacity-70">
          <div class="flex space-x-1">
            <img src="{{ ASSETS_ROOT }}/icons/views.svg" alt="">
            <p>1,5K</p>
          </div>
          <div class="flex space-x-1">
            <img src="{{ ASSETS_ROOT }}/icons/comments.svg" alt="">
            <p>217</p>
          </div>
        </div>
      </div>
    </div>
    <div class="flex flex-col items-center">
      <img src="{{ ASSETS_ROOT }}/icons/lol.svg" alt="">
      <p class="text-sm text-slate-700">984</p>
    </div>
  </div>
  <div class="videos ">
    <div class="relative">
      <div class="relative w-[270px] overflow-hidden ">
        <div id="scrollVideos" class="flex transition-all duration-1000" style="margin-left: -300px; width: 280px;">
          <h4>{{ps.caption}}</h4>
          {% if ps.upload_file %}
          <video id="img-vid-con" class="profile-img-vid-con" controls>
            <source src="{{ps.upload_file.url}}" type="video/mp4">
          </video>
          {% endif %}
          {% if ps.upload_img_file %}
          <img id="preview-img" class="profile-img-vid-con" src=" {{ps.upload_img_file.url}}" type=" ">
          {% endif %}
        </div>
      </div>
      <div class="absolute bottom-0">
        <div class="">
          <a href="#"><img src="{{ ASSETS_ROOT }}/icons/share.svg" class="absolute bottom-4 left-14" alt=""></a>
          <a id="openComments" href="#"><img src="{{ ASSETS_ROOT }}/icons/opencomment2.svg" class="absolute bottom-4 left-4" alt=""></a>
        </div>
        
        <p class="absolute text-white right-4 bottom-2">5 mins ago</p>
        <p class="absolute text-white right-4 bottom-8 block lg:hidden">Toronto, canada</p>
        <img width="280px" src="{{ ASSETS_ROOT }}/img/b-overlay.png" alt="" data-xblocker="passed" style="visibility: visible;">
      </div>
    </div>
  </div>
</div>
<br>
{% endfor %}
{% else %}