
        <div x-cloak @click.away="open = false"
          class=" bg-white shadow-3xl absolute z-50 top-10 rounded-lg -right-36 lg:-right-44 " x-show="open" x-cloak>
          <ul class="pt-2 pb-4">
            <li class="px-4 py-3 hover:bg-slate-100">
              <a href="#" class="flex items-center">
                <img src="{{ ASSETS_ROOT }}/img/noti-1.png" class="w-auto h-auto" alt="">

                <div class="ml-4 w-80">
                  <p class="text-base font-medium">JordanVanga
                    <span class="text-base text-slate-600 font-light"> shared your video</span>
                  </p>
                </div>
              </a>
            </li>
            <li class="px-4 py-3 hover:bg-slate-100">
              <a href="#" class="flex items-center">
                <img src="{{ ASSETS_ROOT }}/img/noti-2.png" class="w-auto h-auto" alt="">

                <div class="ml-4 w-80">
                  <p class="text-base font-medium">Marcuspeters
                    <span class="text-base text-slate-600 font-light"> shared your video</span>
                  </p>
                </div>
              </a>
            </li>
            <li class="px-4 py-3 hover:bg-slate-100">
              <a href="#" class="flex items-center">
                <img src="{{ ASSETS_ROOT }}/img/noti-3.png" class="w-auto h-auto" alt="">

                <div class="ml-4 w-80">
                  <p class="text-base font-medium">Shaneman
                    <span class="text-base text-slate-600 font-light"> shared your video</span>
                  </p>
                </div>
              </a>
            </li>
            <li class="px-4 py-3 hover:bg-slate-100">
              <a href="#" class="flex items-center">
                <img src="{{ ASSETS_ROOT }}/img/noti-4.png" class="w-auto h-auto" alt="">

                <div class="ml-4 w-80">
                  <p class="text-base font-medium">Peter
                    <span class="text-base text-slate-600 font-light"> and <span class="font-medium text-slate-900 ">3
                        others</span> has shared your video</span>
                  </p>
                </div>
              </a>
            </li>
          </ul>
        </div>
        